<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>然然文书查重</title>
    <link rel="stylesheet" href="./assets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./main.js" defer></script>
</head>

<body background="./assets/images/diana_celebrate.jpg">
    <div id="app">
        <header>
            <iframe class="github-button"
                src="https://ghbtns.com/github-btn.html?user=neal2018&repo=DianaWebsite&type=star&count=true&size=large"
                title="GitHub"></iframe>
        </header>

        <div class="form-wrapper">
            <form @submit.prevent="handleSubmit">
                <div class="content-input-wrapper">
                    <textarea class="content-input" id="content" v-model="content"
                        :placeholder="placeholder"></textarea>
                </div>
                <div class="button-wrapper">
                    <button class="button" type="submit" :disabled='isDisable'>查 重</button>
                </div>
            </form>
        </div>

        <div v-if="isError" class="text-wrapper">
            <p>网络错误，请重试</p>
        </div>

        <div v-else-if="isTooLong" class="text-wrapper">
            <p>太长了！</br>目前只支持{{maxLength}}字以下</p>
        </div>

        <div v-else-if="isSendRequest && !isGetResponse" class="text-wrapper">
            <p>查重中</p>
        </div>

        <div v-else-if="isSendRequest && isGetResponse">
            <div class="result-report">
                <p>平均匹配率为 {{avgRate}}</p>
                <p v-if="avgRate<=0.55">大概率是原创</p>
                <p v-else>大概率是偷的</p>
            </div>
            <table class="result-table">
                <thead>
                    <tr>
                        <th>文字</th>
                        <th>匹配率</th>
                        <th>相似链接</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="temp in answer">
                        <td class="td-words">{{ temp.words }}</td>
                        <td class="td-rate" :style="'color:'+(temp.rate>0.7?'red':'black')+';'">{{ temp.rate }}</td>
                        <td v-if='temp.url!=="No Pair"' class="td-link"><a :href="temp.url" target="_blank">链接地址</a>
                        </td>
                        <td v-else class="td-link">无相似链接</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
